@keyframes backgroundflash {
    75% { opacity:1.0}
    100% {opacity:0.0; display:none}
}

#flash {
  background-color:rgb(1, 167, 237);
  animation: backgroundflash 5s forwards;
}

.botton-buffer {
  padding-bottom: 30px;
}

